# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.packages
.pub/
build/
flutter_*.png

# Omitted by pub
pubspec.lock

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/.idea/
**/android/.settings/
**/android/.externalNativeBuild/

# iOS/Xcode related
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/Runner.xcworkspace/xcuserdata/
**/ios/.symlinks/
**/ios/Flutter/GeneratedPluginRegistrant.*

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Runner.xcworkspace/
**/macos/Runner.xcodeproj/project.xcworkspace/
**/macos/Runner.xcodeproj/xcuserdata/
**/macos/Runner.xcworkspace/xcuserdata/

# Linux related
**/linux/flutter/ephemeral/
**/linux/build/

# Windows related
**/windows/flutter/ephemeral/
**/windows/build/

# Web related
**/web/.dart_tool/
**/web/build/

# VS Code related
.vscode/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Other
*.tmp
*.swo

# Sensitive files
**/google-services.json
**/GoogleService-Info.plist
